.container {
  margin: 1rem;
  text-align: center;
}

.info-container{
  height: 650px;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}

p{
  text-align: left;
}
